<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Últimas Citas</strong>
		</div>
		<table class="table">
			<thead>
				<th>Usuario</th>
				<th>Fecha</th>
				<th>Hora</th>
			</thead>
			<tbody>
			<% @meetings.created.limit(3).each do |meeting| %>
				<tr>
					<td><%= meeting.user.email %></td>
					<td><%= meeting.meeting_date.strftime("%d %b. %Y") %></td>
					<td><%= meeting.starts.strftime("%H:%M") %> - 
					<%= meeting.ends.strftime("%H:%M") %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<div class="panel-body text-center">
			<%= link_to '-> Ir al Calendario', iuris.admin_meetings_path %>
		</div>
	</div>
</div>